@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Informação</h1>
    <p> Por que a imunização é importante?</p> 
    <img src="https://static.vecteezy.com/ti/vetor-gratis/p1/3437850-homem-mostrando-vacinado-conceito-vacinacao-vetor.jpg" alt="Alternate Text" width="30%" height="30%"/>
   <p>      
    <p>
        Segundo especialistas, as pessoas que se imunizam protegem a si mesmas, aos familiares e conhecidos. A orientação da saúde pública é de que para quem já chegou a sua vez de imunizar-se contra a Covid-19 que procure o posto de saúde mais próximo. O mesmo vale para outras vacinas indicadas para cada fase da vida.
    </p>
    <p>Fonte: www.saude.gov.br</p>
    <p> <a href="https://www.gov.br/saude/pt-br"> Clique aqui para conhecer mais sobre as vacinas!</a></p>
</div>
